{% from 'oscar/macros.html' import icon %}

<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <form method="{{ method or 'POST' }}" action="{{ url_for('index') }}" id="search_form" role="search">
            <div class="navbar-header">
                <input type="search" name="q" class="form-control input-lg autofocus" id="q" placeholder="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><input type="checkbox" name="advanced_search" id="check-advanced" {% if advanced_search %} checked="checked"{% endif %}>
                    <label id="label-check-advanced" for="check-advanced">{{ icon('cog') }}</label>
                    <div id="advanced-search-container">
                        <div class="container">
                            {% include 'oscar/categories.html' %}
                            {% include 'oscar/time-range.html' %}
                        </div>
                    </div></li>
                    <li{% if template_name == 'index.html' %} class="active"{% endif %}><a href="{{ url_for('index') }}" class="hmarg">{{ icon('home') }}</a></li>
                    <li{% if template_name == 'about.html' %} class="active"{% endif %}><a href="{{ url_for('about') }}" class="hmarg">{{ icon('info-sign') }}</a></li>
                    <li{% if template_name == 'preferences.html' %} class="active"{% endif %}><a href="{{ url_for('preferences') }}" class="hmarg">{{ icon('wrench') }}</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </form>
    </div><!--/.container-fluid -->
</div>
